html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #3f3f3f;
}

.card {
  height: 100% !important;
}

img {
  position: relative !important;
}